<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="heading">Quara post</h1>
    <% for (post of posts) { %>
    <div class="post">
        <h3 id="user">@<%= post.username %></h3>
        <h3 id="content"><%= post.content %></h3>
        <a href="http://localhost:8080/posts/<%= post.id %>">View Post</a>
        <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit Post</a>
        <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
            <br/>
            <button type="submit">Delete Post</button>
        </form>
    </div>
    <% } %>
    <a class=" btn" href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>